* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
}
.parent {
    background-color: #4754E0;
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    background-color: #4754E0;
}
nav {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    justify-content: space-between;
}
nav h2 a{
    color: white;
    text-decoration: none;
    font-size: 39px;
    font-weight: 600;
}
nav ul.main-nav {
    display: flex;
    list-style-type: none;
    color: white;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav > ul > li > a{
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
}
nav > ul > li > a:hover {
    background-color: #30399c;
}
nav > button {
    width: 125px;
    height: 40px;
    color: white;
    background-color: #FE846F;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255, 16%) -1.1px 9px 21px 0;
    cursor: pointer;
}
.dropbtn {
    background-color: #4754E0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4754E0;
    width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    /* text-align: center; */
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #30399c}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #30399c;
  }

section {
    position: relative;
}
section .content-1{
    background-color: #4754E0;
    padding-top: 120px;
    color: #fff;
    
}
section .content-1 .details-1 {
    z-index: 4;
    background-color: #4754E0;
    display: inline-block;
}
section .content-1 .details-1 span {
    font-size: 22px;
}
section .content-1 .details-1 h1 {
    padding: 12px 0 24px;
    font-size: 46px;
    width: 320px;
    font-weight: 400;
}
section .content-1 .details-1 p {
    font-size: 16px;
    width: 528.26px;
    line-height: 25px;
    padding-bottom: 40px;
}
section .content-1 .details-1 button {
    width: 125px;
    height: 40px;
    color: white;
    background-color: #FE846F;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255, 16%) -1.1px 9px 21px 0;
    cursor: pointer;
    margin-bottom: 30px;

}
section .img-1,
section .img-2,
section .img-3,
section .img-4 {
    position: absolute;
    /* z-index: -1; */
}
section .img-1 {
    top: 70%;
    left: 3%;
}
section .img-2 {
    top: 15%;
    right: 60%;
}
section .img-3 {
    top: 15%;
    right: 20%;
}
section .img-4 {
    top: 90%;
    left: 50%;
}


.service {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}
.service .service-title {
    display: inline-block;
}
.service .service-title h3 {
    width: 200px;
    font-size: 20px;
    font-weight: 400;
}
.service .service-title p {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #707070;
    width: 270px;
}
.service .service-title button {
    width: 125px;
    height: 40px;
    color: white;
    background-color: #FE846F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.service .all-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    /* row-gap: 5px; */
    column-gap: 20px;
    
}
.service .all-services div {
    display: inline-block;
}
.service .all-services span {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 600;
}
.service .all-services img {
    /* margin-bottom: 20px; */
    width: 50px;
    height: 50px;
}
.service .all-services p{
    font-size: 14px;
    color: #707070;
    width: 200px;
}
.service .all-services .front {
    margin-top: -50px;
}
.service .all-services .res-it {
    margin-top: 50px;
}
.service .all-services .ui-design {
    background-image: linear-gradient(to left top, #FF4B2B, #FF416C);
    border-radius: 8px;
}
.service .all-services .ui-design span, 
.service .all-services .ui-design p {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
} 
.service .all-services .ui-design p {
    padding-bottom: 20px;
}
.service .all-services .ui-design img {
    margin: 20px 10px;
}
.video {
    display: flex;
    justify-content: space-around;
    margin-top: 220px;
    margin-bottom: 150px;
}
.video .video-title {
    display: inline-block;
}
.video .video-title h3 {
    width: 200px;
    font-size: 20px;
    font-weight: 400;
}
.video .video-title p {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #707070;
    width: 270px;
}
.video .video-title button {
    width: 125px;
    height: 40px;
    color: white;
    background-color: #FE846F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.video img {
    display: inline-block;
}
.img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}
.img .img-title {
    display: inline-block;
}
.img .img-title h3 {
    width: 200px;
    font-size: 20px;
    font-weight: 400;
}
.img .img-title p {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #707070;
    width: 390px;
}
.img .img-title button {
    width: 125px;
    height: 40px;
    color: white;
    background-color: #FE846F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.img img {
    display: inline-block;
}
.lastest-work .title {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    color: white;
}
.lastest-work .icons img:first-of-type {
    padding-left: 10px;
}
.lastest-work .details h3 {
    font-size: 20px;
    font-weight: 400;
}
.lastest-work .details p {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 14px;
    color: #7c7c7c;
}
.lastest-work .images {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.lastest-work .images img:nth-of-type(2) {
    padding-left: 15px;
    padding-right: 15px;
}






/* Mobile */
@media only screen and (min-width:320px) and (max-width:480px){
    .container {
        width: 300px;
        padding: 0;
    }
    nav h2 a {
        font-size: 22px;
    }
    nav ul li a {
        font-size: 8px;
    }
    nav > button {
        width: 30px;
        font-size: 8px;
        display: none;
    }
    nav ul.main-nav {
        justify-content: right;
    }
    ul.main-nav > li:not(li:first-of-type){
        display: none;
    }
    .dropbtn {
        font-size: 16px;
    }
    .dropdown-content a {
        font-size: 14px;
    }
    section .content-1 .details-1 > span {
        font-size: 18px;
    }
    section .content-1 .details-1 h1 {
        font-size: 35px;
    }
    section .content-1 .details-1 p {
        font-size: 12px;
        width: 300px;
    }
    section .content-1 .details-2 {
        display: none;
    } 
    .service .all-services {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        row-gap: 30px;
        
    }
    .service {
        display: block;
        padding-top: 100px;
    }
    .service .all-services div {
        display: block;
        margin: auto;
    }
    .service .service-title {
        display: block;
        margin-bottom: 100px;
        text-align: center;
    }
    .service .service-title h3,
    .service .service-title p {
        margin: auto;
    }
    .video {
        display: block;
        text-align: center;
    }
    .video .video-title {
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
    .video .video-title h3,
    .video .video-title p {
        margin: auto;
    }
    .video img {
        display: block;
        text-align: center;
    }
    .img {
        display: block;
    }
    .img .img-title {
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
    .img .img-title h3,
    .img .img-title p {
        margin: auto;
    }
    .img .img-title p {
        width: 300px;
    }
    .img img {
        display: block;
        margin: auto;
    }
    .lastest-work .icons {
        display: none;
    }
    .lastest-work .title,
    .lastest-work .details {
        display: block;
    }
    .lastest-work .details h3 {
        text-align: center;
    }
    .lastest-work .details p {
        text-align: center;
        width: 300px;
        padding-top: 20px;
        padding-bottom: 50px;
        font-size: 14px;
        color: #7c7c7c;
    }
    .lastest-work .images img:nth-of-type(2) {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
    }
    .lastest-work .images img:nth-of-type(1) {
        padding-bottom: 10px;

    }
    

}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px){
    .container {
        width: 460px;
        padding: 0;

    }
    nav h2 a {
        font-size: 26px;
    }
    nav ul li a {
        font-size: 10px;
    }
    nav > button {
        width: 50px;
        font-size: 10px;

    }
    nav ul.main-nav {
        justify-content: center;
    }
    ul.main-nav li:not(li.dropdown){
        display: none;

    }
    li.dropdown {
        justify-self: center;
    }
    .dropbtn {
        font-size: 18px;
    }
    .dropdown-content a {
        font-size: 16px;
    }
    section .content-1 .details-1 > span {
        font-size: 20px;
    }
    section .content-1 .details-1 h1 {
        font-size: 40px;
    }
    section .content-1 .details-1 p {
        font-size: 14px;
        width: 400px;
    }
    section .content-1 .details-2 {
        display: none;
    }
    .service 
    .service .all-services {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        row-gap: 5px;
        column-gap: 20px;
        
    }
    .service {
        display: block;
        padding-top: 100px;
    }
    .service .all-services div {
        display: block;
    }
    .service .service-title {
        margin-bottom: 120px;
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }
    .service .service-title h3,
    .service .service-title p {
        margin: auto;
    }
    .video {
        display: block;
    }
    .video .video-title {
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
    .video .video-title h3,
    .video .video-title p {
        margin: auto;
    }
    .video img {
        display: block;
        margin: auto;
    }
    .img {
        display: block;
    }
    .img .img-title {
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
    .img .img-title h3,
    .img .img-title p {
        margin: auto;
    }
    .img img {
        display: block;
        margin: auto;
    }
    .lastest-work .icons {
        display: none;
    }
    .lastest-work .title,
    .lastest-work .details {
        display: block;
    }
    .lastest-work .details h3 {
        text-align: center;
    }
    .lastest-work .details p {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 50px;
        font-size: 14px;
        color: #7c7c7c;
    }
    .lastest-work .images img:nth-of-type(2) {
        padding-left: 15px;
        padding-right: 0px;
        padding-bottom: 10px;
    }
    .lastest-work .images img:nth-of-type(1) {
        padding-bottom: 10px;

    }
}
 /*labtop small screens*/
@media only screen and (min-width: 769px) and (max-width: 1024px){ 
    .container {
        width: 720px;
    }
    nav h2 a {
        font-size: 31px;
    }
    nav ul li a {
        font-size: 12.5px;
    }
    nav > button {
        width: 75px;
        font-size: 12px;

    }
    .dropdown {
        display: none;
    }
    section .content-1 .details-2 {
        display: none;
    }
    .service 
    .service .all-services {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        row-gap: 5px;
        column-gap: 20px;
        
    }
    .service {
        display: block;
        padding-top: 100px;
    }
    .service .all-services div {
        display: block;
    }
    .service .service-title {
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }
    .service .service-title h3,
    .service .service-title p {
        margin: auto;
    }


}
 /*large  Device*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) { 
    .container {
        width: 1000px;
    }
    nav h2 a {
        font-size: 35px;
    }
    nav ul li a {
        font-size: 15px;
    }
    nav > button {
        width: 100px;
        font-size: 14px;
        
    }
    .dropdown {
        display: none;
    }
    section .content-1 .details-2 {
        display: inline-block;
    }
}
/* Extra larg Device */
@media screen and (min-width:1201px){
    .container {
        width: 1100px;
    }
    nav h2 a {
        font-size: 39px;
    }
    nav ul li a {
        font-size: 17px;
    }
    nav > button {
        width: 125px;
        font-size: 16px;
    }
    .dropdown {
        display: none;
    }
    section .content-1 .details-2 {
        display: inline-block;
    }
}